<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="nl.pdeg.bordondroid"
	android:versionCode="1"
	android:versionName="0.11"
	android:installLocation="internalOnly">
	
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28"/>
	<supports-screens android:largeScreens="true" 
	    android:normalScreens="true" 
	    android:smallScreens="true" 
	    android:anyDensity="true"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
	<application
		android:icon="@drawable/icon"
		android:label="Board On Droid">
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".main"
			android:label="Board On Droid"
			android:screenOrientation="landscape">
			<intent-filter>
			   <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			
		</activity>
		<service android:name=".starter">
		</service>
		<receiver android:name=".starter$starter_BR">
		</receiver>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".serverboard"
			android:label="Board On Droid"
			android:screenOrientation="landscape">
		</activity>
		<activity
			android:windowSoftInputMode="stateHidden"
			android:launchMode="singleTop"
			android:name=".chat"
			android:label="Board On Droid"
			android:screenOrientation="landscape">
		</activity>
	</application>
</manifest>